.dropdownWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 0.5rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.select {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdownWrapper:focus-within .label {
  color: #d78dff;
}

.dropdownWrapper .select.inputError {
  border: 1px solid #ff6666;
}

.dropdownWrapper .label.labelError {
  color: #ff6666;
}

.error {
  position: absolute;
  color: #ff6666;
  font-size: 1.2rem;
  top: 6rem;
  left: 0.6rem;
}
