/* * {
  box-sizing: border-box;
} */

/** START - HIDE NATIVE NUMBER INPUT BUTTONS  **/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
/** END - HIDE NATIVE NUMBER INPUT BUTTONS **/

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input {
  box-sizing: border-box;
  width: 24rem;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  opacity: 0.6;
  border: 2px solid #d78dff;

  &:focus {
    outline: none;
    opacity: 1;
    border: 2px solid #d78dff;
  }
}

.label {
  color: #d78dff;
  font-weight: 800;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
