/** START - HIDE NATIVE NUMBER INPUT BUTTONS  **/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
/** END - HIDE NATIVE NUMBER INPUT BUTTONS **/

.input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 4px;
}

.numberInput {
}
